{
  "osuMirrorApiUrl": "https://mirror.flimixst.dev/d/",
  "osuMirrorAltApiUrl": "https://osu.direct/api/d/",
  "parallel": true,
  "concurrency": 5,
  "intervalCap": 50,
  "interval": 60,
  "logSize": 15,
  "directory": "",
  "mode": 1
}
